<div class="jumbotron">
  <h1 class="display-4">机票预定系统</h1>
  <p class="lead">
    题目 17</p>
  <hr class="my-4">
  <p>
    具备如下基本功能：
  <ol>
    <li>班机基本信息的管理</li>
    <li>航班信息的管理</li>
    <li>旅客预定机票、取消预约、付款取票、退票的管理</li>
    <li>查询航班信息、航班预定情况、旅客信息，计算航班满座率</li>
    <li>统计每周、每月，每年营业收入情况</li>
  </ol>
  </p>
</div>