<p id="notice"><%= notice %></p>

<p>
  <strong>Seat map:</strong>
  <%= @plane_blueprint.seat_map %>
</p>

<%= link_to 'Edit', edit_plane_blueprint_path(@plane_blueprint) %> |
<%= link_to 'Back', plane_blueprints_path %>
